flow.json
[
    {
        "id": "5d791586.3e74ec",
        "type": "tab",
        "label": "Weather Routing Logistics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5dcbfeb0.24ad",
        "type": "tab",
        "label": "HERE node testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb1051cc.282ec8",
        "type": "group",
        "z": "5d791586.3e74ec",
        "name": "Starting and Destination Locations / GeoCode",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "74fd8dd.76cb5f4",
            "8e6c9cb7.5b33d8",
            "9cc4e692.e31a4",
            "6a0d33cb.062c1c",
            "f9e76c7c.173f3",
            "f8900792.a099d8",
            "55fedec5.8ee618",
            "91bd09cc.d091e",
            "dbbf09ed.a29d6",
            "6bf3c565.d92fbc"
        ],
        "x": 34,
        "y": 19,
        "w": 1092,
        "h": 202
    },
    {
        "id": "ec1f8cef.a9393",
        "type": "group",
        "z": "5d791586.3e74ec",
        "name": "Request Driving Navigation Instructions ",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "d7c23344.391b28",
            "d897340b.1527b8",
            "dd563e.10d1f1c",
            "650b3f82.d8328",
            "cc270465.cb0b9",
            "31d0f403.82b35c",
            "7c8ee319.7dab14"
        ],
        "x": 154,
        "y": 259,
        "w": 792,
        "h": 182
    },
    {
        "id": "9d04c384.31a5f8",
        "type": "group",
        "z": "5d791586.3e74ec",
        "name": "Draw Map and Route",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "a4be59b5.7e187",
            "1c6202eb.0c93c5",
            "e571b112.bfcd5",
            "a9d0e178.9f41a",
            "c6fd4698.7a7c2",
            "d0059822.8e925",
            "eb334dfc.bbb0e8",
            "b0473265.e44f5",
            "cb5a2a47.9df6f8"
        ],
        "x": 134,
        "y": 479,
        "w": 872,
        "h": 242
    },
    {
        "id": "5fe44114.69f43",
        "type": "group",
        "z": "5d791586.3e74ec",
        "name": "Read the Driving Instructions",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "4cfe56da.a4ed9",
            "3b8e43f1.ccfe6c",
            "9edb2ad8.67d3f8",
            "68bea694.bb9578",
            "19ebc49e.e6086b",
            "a158422b.45f5",
            "3df7ff6.195ba"
        ],
        "x": 174,
        "y": 759,
        "w": 772,
        "h": 162
    },
    {
        "id": "8319d6cc.c273b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#351c15",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#351c15",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#351c15",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6c392b",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#351c15",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5db782cc.c8d504",
        "type": "ui_tab",
        "name": "Weather Routing Logistics",
        "icon": "fa-truck",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b6bd120.a1623f",
        "type": "ui_group",
        "name": "Route",
        "tab": "5db782cc.c8d504",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f8510b.9fe89f",
        "type": "ui_group",
        "name": "Map",
        "tab": "5db782cc.c8d504",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "af0661fa.136e4",
        "type": "ui_group",
        "name": "Suggested Route",
        "tab": "5db782cc.c8d504",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "9fc32e33.6c4c9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b6bd120.a1623f",
        "order": 2,
        "width": "6",
        "height": 1
    },
    {
        "id": "e3d8a028.af557",
        "type": "hereapikey",
        "name": "HERE-API-KEY"
    },
    {
        "id": "74fd8dd.76cb5f4",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hereapikey",
                "pt": "flow",
                "to": "HEREAPIKEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "hereapikey",
                "pt": "msg",
                "to": "hereapikey",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "current",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "hereparams.query",
                "pt": "msg",
                "to": "payload.start",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "end",
                "pt": "msg",
                "to": "payload.end",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "twcapikey",
                "pt": "flow",
                "to": "TWCAPIKEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "dbbf09ed.a29d6"
            ]
        ]
    },
    {
        "id": "8e6c9cb7.5b33d8",
        "type": "inject",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"start\":\"new jersey\", \"end\":\"new york\"}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "74fd8dd.76cb5f4"
            ]
        ]
    },
    {
        "id": "9cc4e692.e31a4",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "Save Start Location",
        "rules": [
            {
                "t": "set",
                "p": "hereparams.waypoint0",
                "pt": "msg",
                "to": "payload.items[0].position.lat&\",\"&payload.items[0].position.lng",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hereparams.query",
                "pt": "msg",
                "to": "end",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "6a0d33cb.062c1c",
                "6bf3c565.d92fbc"
            ]
        ]
    },
    {
        "id": "6a0d33cb.062c1c",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9e76c7c.173f3",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "d7c23344.391b28",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "f8900792.a099d8",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "Save End location",
        "rules": [
            {
                "t": "set",
                "p": "hereparams.waypoint1",
                "pt": "msg",
                "to": "payload.items[0].position.lat&\",\"&payload.items[0].position.lng",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "f9e76c7c.173f3",
                "7c8ee319.7dab14"
            ]
        ]
    },
    {
        "id": "a4be59b5.7e187",
        "type": "ui_worldmap",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "group": "9f8510b.9fe89f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "40.8770049",
        "lon": "-74.0642452",
        "zoom": "10",
        "layer": "Esri",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "1c6202eb.0c93c5",
        "type": "ui_button",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "",
        "group": "b6bd120.a1623f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Navigation Preview",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "e571b112.bfcd5"
            ]
        ]
    },
    {
        "id": "d897340b.1527b8",
        "type": "function",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "name": "Build Table",
        "func": "\nvar TableArray = [];\nfor( i=0; i < msg.payload.response.route[0].leg[0].maneuver.length; i++ ) {\n      var TableEntry = {};\n      // strip out HTML\n      TableEntry.instruction = msg.payload.response.route[0].leg[0].maneuver[i].instruction.replace(/<[^>]*>?/gm, '') ;\n      TableEntry.latitude = msg.payload.response.route[0].leg[0].maneuver[i].position.latitude ;\n      TableEntry.longitude = msg.payload.response.route[0].leg[0].maneuver[i].position.longitude ;\n      TableArray.push( TableEntry );\n}\nflow.set(\"Steps\",TableArray);\n\nmsg.payload = TableArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "b0473265.e44f5",
                "dd563e.10d1f1c",
                "31d0f403.82b35c"
            ]
        ]
    },
    {
        "id": "e571b112.bfcd5",
        "type": "function",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "Instructions & Weather overlay",
        "func": "var route = flow.get(\"Steps\") || [];\nvar step  = flow.get(\"current\") || 0;\nvar msg1 = {};\nmsg.payload = {};\nvar twcapikey = flow.get(\"twcapikey\");\n\nif( step < route.length ) {\n    msg.payload.command = { \"map\":{\n                                \"overlay\":\"twcsatrad\",\n                                \"name\":\"twcsatrad\",\n                                \"url\":'https://api.weather.com/v3/TileServer/tile/satrad?ts=' + parseInt(Date.now()/600000)*600 +'&xyz={x}:{y}:{z}&apiKey=' + twcapikey,\n                                \"opt\":{ \"maxZoom\":13, \"attribution\":\"&copy; weather.com\" }\n                            }\n                          },\n    msg.payload.name = \"route\";\n    msg.payload.layer = \"route\";\n    msg.payload.lat = route[step].latitude;\n    msg.payload.lon = route[step].longitude;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"#351C15\" // \"brown\"\n    msg1.instructions = route[step].instruction;\n    flow.set(\"current\", step+1 );\n} else {\n    msg1.instructions = \"You have arrived!\";\n    flow.set(\"current\", 0 );\n}\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "a4be59b5.7e187",
                "a9d0e178.9f41a",
                "eb334dfc.bbb0e8"
            ],
            [
                "d0059822.8e925",
                "9edb2ad8.67d3f8"
            ]
        ]
    },
    {
        "id": "dd563e.10d1f1c",
        "type": "ui_table",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "group": "af0661fa.136e4",
        "name": "",
        "order": 0,
        "width": "10",
        "height": "11",
        "columns": [
            {
                "field": "instruction",
                "title": "Driving Instructions",
                "width": "60%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "latitude",
                "title": "Latitude",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "longitude",
                "title": "Longitude",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "a9d0e178.9f41a",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "c6fd4698.7a7c2",
        "type": "inject",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "e571b112.bfcd5"
            ]
        ]
    },
    {
        "id": "d0059822.8e925",
        "type": "ui_text",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "group": "9f8510b.9fe89f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Instructions:",
        "format": "{{msg.instructions}}",
        "layout": "row-spread",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb334dfc.bbb0e8",
        "type": "worldmap-tracks",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "navigation",
        "depth": "30",
        "layer": "combined",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "a4be59b5.7e187"
            ]
        ]
    },
    {
        "id": "55fedec5.8ee618",
        "type": "ui_form",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "label": "Get Directions",
        "group": "b6bd120.a1623f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Start Address:",
                "value": "start",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "End Address",
                "value": "end",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "start": "",
            "end": ""
        },
        "payload": "",
        "submit": "Get Route",
        "cancel": "cancel",
        "topic": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "91bd09cc.d091e",
                "74fd8dd.76cb5f4"
            ]
        ]
    },
    {
        "id": "91bd09cc.d091e",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "650b3f82.d8328",
        "type": "ui_text",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "group": "b6bd120.a1623f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Summary:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "b0473265.e44f5",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "Reset Map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"name\":\"route_\", \"deleted\":true }",
                "tot": "json"
            },
            {
                "t": "delete",
                "p": "current",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "e571b112.bfcd5",
                "cb5a2a47.9df6f8"
            ]
        ]
    },
    {
        "id": "cb5a2a47.9df6f8",
        "type": "delay",
        "z": "5d791586.3e74ec",
        "g": "9d04c384.31a5f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "eb334dfc.bbb0e8"
            ]
        ]
    },
    {
        "id": "cc270465.cb0b9",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "name": "Summary",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(payload.response.route[0].summary.text, /<[^>]*>?/ , '')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "650b3f82.d8328"
            ]
        ]
    },
    {
        "id": "31d0f403.82b35c",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "d1fb8ea.0af3df",
        "type": "inject",
        "z": "5dcbfeb0.24ad",
        "name": "Test - no params",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "dee648e6.53e388"
            ]
        ]
    },
    {
        "id": "115ad4fe.159143",
        "type": "debug",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "dee648e6.53e388",
        "type": "here-routing",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "waypoint0": "40.9783948,-74.1001572",
        "waypoint1": "40.9365699,-72.57698",
        "calctype": "fastest",
        "transport": "car",
        "traffic": "disabled",
        "apikey": "e3d8a028.af557",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "115ad4fe.159143"
            ]
        ]
    },
    {
        "id": "ee7ed659.3ce4a8",
        "type": "inject",
        "z": "5dcbfeb0.24ad",
        "name": "Test - msg.hereparams",
        "props": [
            {
                "p": "hereparams",
                "v": "{\"waypoint0\":\"40.97867,-74.10009\",\"waypoint1\":\"40.97782,-74.09819\",\"routetype\":\"shortest\",\"transport\":\"bicycle\",\"traffic\":\"disabled\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "dee648e6.53e388"
            ]
        ]
    },
    {
        "id": "d7ff5729.8e631",
        "type": "here-geocode",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "query": "",
        "in": "",
        "apikey": "e3d8a028.af557",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "e31b6714.c6d0d"
            ]
        ]
    },
    {
        "id": "d4dd651c.b3f698",
        "type": "inject",
        "z": "5dcbfeb0.24ad",
        "name": "Address",
        "props": [
            {
                "p": "hereparams",
                "v": "{\"query\":\"1600 Pennsylvania Avenue NW, Washington, DC 20500\",\"in\":\"countryCode:CAN\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "d7ff5729.8e631"
            ]
        ]
    },
    {
        "id": "e31b6714.c6d0d",
        "type": "debug",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "4cfe56da.a4ed9",
        "type": "watson-text-to-speech",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_MichaelV3Voice",
        "voicehidden": "en-US_MichaelV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "${WATSON_TTS}",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/35c10e3b-3c2a-463e-bd20-d3fdaa5628d0",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "3b8e43f1.ccfe6c"
            ]
        ]
    },
    {
        "id": "3b8e43f1.ccfe6c",
        "type": "ui_audio",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "",
        "group": "af0661fa.136e4",
        "voice": "",
        "always": "",
        "x": 860,
        "y": 880,
        "wires": []
    },
    {
        "id": "9edb2ad8.67d3f8",
        "type": "ui_switch",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "",
        "label": "Mute navigation",
        "tooltip": "",
        "group": "b6bd120.a1623f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-volume-off",
        "oncolor": "black",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-volume-up",
        "offcolor": "black",
        "x": 340,
        "y": 800,
        "wires": [
            [
                "68bea694.bb9578"
            ]
        ]
    },
    {
        "id": "68bea694.bb9578",
        "type": "switch",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "Enabled?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "19ebc49e.e6086b",
                "a158422b.45f5"
            ]
        ]
    },
    {
        "id": "19ebc49e.e6086b",
        "type": "switch",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "Instructions",
        "property": "instructions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 880,
        "wires": [
            [
                "3df7ff6.195ba"
            ]
        ]
    },
    {
        "id": "a158422b.45f5",
        "type": "debug",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "3df7ff6.195ba",
        "type": "change",
        "z": "5d791586.3e74ec",
        "g": "5fe44114.69f43",
        "name": "Read Instructions",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "instructions",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 880,
        "wires": [
            [
                "4cfe56da.a4ed9"
            ]
        ]
    },
    {
        "id": "7c8ee319.7dab14",
        "type": "here-routing",
        "z": "5d791586.3e74ec",
        "g": "ec1f8cef.a9393",
        "name": "",
        "waypoint0": "",
        "waypoint1": "",
        "calctype": "fastest",
        "transport": "car",
        "traffic": "default",
        "apikey": "e3d8a028.af557",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "d7c23344.391b28",
                "d897340b.1527b8",
                "cc270465.cb0b9"
            ]
        ]
    },
    {
        "id": "dbbf09ed.a29d6",
        "type": "here-geocode",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "query": "",
        "in": "",
        "apikey": "e3d8a028.af557",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "9cc4e692.e31a4"
            ]
        ]
    },
    {
        "id": "6bf3c565.d92fbc",
        "type": "here-geocode",
        "z": "5d791586.3e74ec",
        "g": "fb1051cc.282ec8",
        "name": "",
        "query": "",
        "in": "",
        "apikey": "e3d8a028.af557",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "f8900792.a099d8"
            ]
        ]
    },
    {
        "id": "755be534.c034fc",
        "type": "change",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.twcapikey",
                "pt": "msg",
                "to": "TWCAPIKEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.hereapikey",
                "pt": "msg",
                "to": "HEREAPIKEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.watson_tts",
                "pt": "msg",
                "to": "WATSON_TTS",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "1466ba08.4e2ffe"
            ]
        ]
    },
    {
        "id": "fae841cd.dbd3a8",
        "type": "inject",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "755be534.c034fc"
            ]
        ]
    },
    {
        "id": "1466ba08.4e2ffe",
        "type": "debug",
        "z": "5dcbfeb0.24ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "c981d41.f43cca8",
        "type": "inject",
        "z": "5dcbfeb0.24ad",
        "name": "Address",
        "props": [
            {
                "p": "hereparams",
                "v": "{\"query\":\"1600 Pennsylvania Avenue NW, Washington, DC 20500\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "d7ff5729.8e631"
            ]
        ]
    }
]